<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Code/jenkinstest">
        <classes>
            <class name="Logon"></class>
            <class name="Register"></class>
        </classes>
    </test>
</suite>